/* Базові стилі для модального вікна (ховаємо за правий край екрану) */
.burger-modal {
  position: fixed;
  top: 0;
  right: 0; /* Притискаємо до правого краю */
  width: 100%;
  height: 100%;
  padding: 20px 27px;
  background-color: var(--second-color); /* Використовуємо твою змінну замість black */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Поверх усіх інших елементів, включаючи хедер */
  
  /* Анімація виїзду */
  transform: translateX(100%);
  transition: transform var(--animation);
}

/* Клас, який додає JS для відкриття меню */
.burger-modal.is-open {
  transform: translateX(0);
}

/* Кнопка закриття (хрестик) */
.burger-button-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  stroke: var(--primary-color);
  cursor: pointer;
  padding: 0;
}

.burger-button-close:hover, 
.burger-button-close:focus {
  transform: scale(1.2);
  transition: transform var(--animation);
}

/* Навігація */
.burger-pages-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-color);
}

.burger-pages-list a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
  line-height: 18px;
  transition: transform var(--animation), border-color var(--animation);
}

.burger-pages-list a:not(:last-child) {
  margin-bottom: 16px;
}

.burger-pages-list a:hover, 
.burger-pages-list a:focus {
  border-bottom: 1px solid var(--primary-color);
  transform: scale(1.1);
}

/* Соцмережі */
.social-links-list {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  transition: transform var(--animation);
}

.social-links-list:hover, 
.social-links-list:focus {
  transform: scale(1.05);
}

.social-links-list li:not(:last-child) {
  margin-right: 12px;
}

.social-links-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(244, 244, 244, 0.1);
  border-radius: 10px;
  width: 44px;
  height: 44px;
  fill: var(--primary-color);
  transition: background-color var(--animation), fill var(--animation);
}

.social-links-list-item:hover,
.social-links-list-item:focus {
  background-color: var(--primary-color);
  fill: var(--second-color);
}

/* Ховаємо меню на планшетах і десктопах */
@media screen and (min-width: 768px) {
  .burger-modal {
    display: none;
  }
}