<header class="header" id="header">
  <div class="container-header">
    <div>
      <a href="./index.html">
        <svg width="132" height="24" aria-label="logo">
          <use data-icon="icon-logo"></use>
        </svg>
      </a>
      <p id="user"></p>
    </div>
<button class="burger-button" id="burger-menu-open" type="button" aria-label="Open menu" style="display: block; background: none; border: none; cursor: pointer; padding: 0;">
  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M4 16H28M4 8H28M4 24H28" stroke="#242424" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</button>

    <nav class="page-navigattion" id="navigation">
      <a href="./index.html" class="page-navigattion-item active" id="home">
        <span class="black" id="home-text">Home</span>
      </a>
      <a href="./favorites.html" class="page-navigattion-item" id="favorites">
        <span id="favorites-text">Favorites</span>
      </a>
    </nav>

    <ul class="social-links">
      <li class="social-links-items">
        <a href="https://www.facebook.com/goITclub/" target="_blank" rel="noopener noreferrer">
          <svg
            class="social-link-header-efect"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            aria-label="facebook"
          >
            <use data-icon="icon-facebook"></use>
          </svg>
        </a>
      </li>

      <li class="social-links-items">
        <a href="https://www.instagram.com/goitclub/" target="_blank" rel="noopener noreferrer">
          <svg
            class="social-link-header-efect"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            aria-label="instagram"
          >
            <use data-icon="icon-instagram"></use>
          </svg>
        </a>
      </li>

      <li class="social-links-items">
        <a href="https://www.youtube.com/c/GoIT" target="_blank" rel="noopener noreferrer">
          <svg
            class="social-link-header-efect"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            aria-label="youtube"
          >
            <use data-icon="icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>